#second-order, #order-summary {
  display: none;
}

header {
  height: 90vh;
  background-image: url('../img/pizza.jpg');
  background-size: cover;
}

#about {
  height: 100vh;
}

#order {
  height: 70vh;
}

#fancy {
  text-align: center;
  color: white;
  text-shadow: 4px 4px black;
  font-size: 120px;
  font-weight: bold;
  font-family: 'Liu Jian Mao Cao', cursive;
  padding-top: 160px;
}

h1, h3 {
color: #70a7da;
}

p {
  font-size: 20px;
  color: #70a7da;
}
