#second-order, #order-summary {
  display: none;
}

header {
  height: 90vh;
  background-image: url('../img/pizza.jpg');
  background-size: cover;
}

#about {
  height: 100vh;
}

#order {
  height: 50vh;
}

#fancy {
  text-align: center;
  color: black;
  text-shadow: 2px 2px white;
  font-size: 100px;
  font-family: 'Liu Jian Mao Cao', cursive;
  padding-top: 100px;
}

h1, h3 {
color: #70a7da;
}

p {
  font-size: 20px;
  color: #70a7da;
}
